@charset "URF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Hanken Grotesk", sans-serif;
}

.dark{
    color: darkgrey;
}

.title{
    font-size: 20px;
}

.stat_num{
    color: black;
}

.statOverview{
    height: 275px;
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: white;

    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: 24px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.summaryScore{
    background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));

    text-align: center;

    padding: 20px 35px;
    border-radius: 50%;
}
.score_num{
    font-size: 50px;
}

.score_title{
    font-size: 26px;
}

.briefing{
    width: 75%;
    text-align: center;
}

.statFull{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    margin-top: 16px;
}

.stats{
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.stat{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    align-items: center;
    background-color: aqua;
    height: 7vh;
    width: 70vw;
    padding: 0 20px;
    border-radius: 8px;
}

.stat_reaction{
    color: hsl(0, 100%, 67%);
    background-color: #FFF7F5;
}

.stat_memory{
    color: hsl(39, 100%, 56%);
    background-color: #FDFDEF;
}

.stat_verbal{
    color: hsl(166, 100%, 37%);
    background-color: #F2FBFA;
}

.stat_visual{
    color: hsl(234, 85%, 45%);
    background-color: hsl(221, 100%, 96%);
}

.btn{
    padding: 14px 110px;
    background-color:hsl(224, 30%, 27%);
    color: white;
    text-decoration: none;
    border-radius: 34px;
}

.btn:hover{
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));;
}

.statFull > .title{
    margin-left: -190px;
}

.icon{
    display: flex;
    gap: 12px;
}