@media(min-width: 1000px){
    *{
        margin: 0;
        padding: 0;
    }
    html{
    font-size: 62.5%;
    }
    body{
        padding: 9.5rem 30rem;
    }
    header img{
        width: 7rem;
        margin-left: 5rem;
    }
    #open{
        display: none;
    }
    .altMenu{
        cursor: pointer;
        font-size: 1.8rem;
        color: #707070;
    }
    #desktopMenu{
        display: flex;
        gap: 5rem;
    }
    #mainImg{
        src: url(assets/images/image-web-3-desktop.jpg);
        width: 85%;
        height: 30rem;
        margin-left: 5.5rem;
    }
    #title{
        font-size: 5.5rem;
        padding: 1.5rem 5rem;
        letter-spacing: .1rem;
        line-height: 5.3rem;
    }
    .contentText{
        width: 43%;
    }
    .mainContent{
        flex-direction: row;
    }
    #mainPage{
        display: flex;
        flex-direction: column;
    }
    .mainContainer{
        display: flex;
        
    }

    #more{
        flex-direction: row;
        margin-left: 5rem;
    }

}