@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

header{    
    display: flex;
    justify-content: space-between;
}

header img{
    width: 4.6rem;
    margin: 1.4rem .5rem 3.2rem 0;
}

#mainImg{
    background-image: url(assets/images/image-web-3-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 29.9rem;
    margin-bottom: 2.2rem;
}

#title{
    font-size: 4rem;
    font-weight: bold;
    line-height: 4rem;
    margin-left: .3rem;
    margin-bottom: 1.5rem;
    letter-spacing: 1.2rem;
}

.blueText{
    color: #00001A;
}

span{
    font-size: 1.5rem;
    line-height: 2.6rem;
    color: #707070;
    margin-left: 0;
    margin-bottom: 2.4rem;
    letter-spacing: 0.1px;
}

.readBtn{
    width: fit-content;
    padding: 1.6rem 2.9rem;
    margin-left: .2rem;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: #F15D51;
    text-transform: uppercase;
    letter-spacing: .405rem;
    margin-bottom: 6.4rem;
}
.readBtn:hover{
    background-color: #00001A;
    color: white;
}

#newBlue{
    background-color: #00001A;
    color: white;
    padding: 2rem 2.3rem;
    margin-bottom: 6.5rem;
}
.yellowTitle{
    font-size: 3.3rem;
    font-weight: bold;
    color: #E7AA60;
    margin-bottom: 2.9rem;
}
.titleBlue{
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1.1rem;
    letter-spacing: 0.2px;
}
.textBlue{
    font-size: 1.4rem;
    letter-spacing: 0.39px;
    line-height: 2.3rem;
}

.line{
    width: 100%;
    height: 0.1rem;
    margin: 3.3rem 0;
    background-color: white;
}

#more{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 2rem;
}
#more img{
    width: 29%;
    height: 81%;
}
.moreTopics{
    display: flex;
    cursor: pointer;
}
.moreContent{
    padding: 0px 2rem;
}
.moreNum{
    font-weight: bolder;
    font-size: 3.3rem;
    color: #E06862;
    margin-bottom: .8rem;
    letter-spacing: .2rem;
}
.moreTitle{
    font-weight: bold;
    font-size: 1.7rem;
    letter-spacing: 0.3px;
    margin-bottom: 1rem;    
}
.moreSpan{
    font-size: 1.4rem;
}

.fullMenu{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    height: 100vh;
    width: 100vw;
    inset: 0;
    background-color: #70707085;
    touch-action: none;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 260ms ease, visibility 260ms;
}
.fullMenu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.menuOptions{
    display: flex;
    flex-direction: column;
    padding: 2.8rem;
    width: 70%;
    max-width: 42rem;
    background-color: white;
}
#close{
    background-image: url(assets/images/icon-menu-close.svg);
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
    align-self: flex-end;
    margin-bottom: 8.8rem;
}

.option{
    font-size: 1.8rem;
    margin-bottom: 2.7rem;
    cursor: pointer;
}

.mainContent{
    display: flex;
    flex-direction: column;
}
.contentText{
    display: flex;
    flex-direction: column;
}

.attribution{
    text-align: center;
}

#desktopMenu{
    display: none;    
}